.container {
  background-color: #faf9f5;
  padding: 30px 30px 30px 30px;

  &-main {
    margin: 0 auto 30px auto;
    max-width: 600px;
  }

  &-sidebar-wrapper {
    margin: 0 auto 0 auto;
    width: 300px;
  }
}

@media screen and (min-width: 990px) {
  .container {
    &-wrapper {
      width: 990px;
      margin: 0 auto 0 auto;
      display: flex;
    }

    &-main {
      margin: 0 60px 0 0;
      width: 600px;
    }

    &-sidebar-wrapper {
      margin: 0 0 0 0;
      display: flex;

      .relative-bottom {
        align-items: flex-end;
      }
    }

    &-sidebar-content {
      width: 300px;

      .fix-top {
        position: fixed;
        top: 25px;
        width: 300px;
      }
    }
  }
}