.footer {
  background-color: #222222;

  &-each {
    padding: 30px 30px 30px 30px;
    color: #dddddd;
  }

  &-copyright {
    padding: 0 30px 30px 30px;
    font-size: 10px;
    text-align: right;
    color: #dddddd;
  }

  &-title {
    margin: 0 0 15px 0;
    font-size: .16rem;
  }

  &-description {
    font-size: .12rem;
    line-height: .16rem;
  }

  &-description-list {
    padding: 0 0 0 20px;
    list-style-type: circle;
  }

  &-description-item {
    font-size: .12rem;
    line-height: .32rem;
  }

  &-link {
    text-decoration: none;
    color: #dddddd;
    cursor: pointer;
    
    &:hover {
      color: #999999;
    }
  }

  &-follow {
    margin: 15px 0 0 0;
  }

  &-twitter-follow-button {
    position: relative;
    height: 20px;
    box-sizing: border-box;
    padding: 0 8px 1px 6px;
    background-color: #1b95e0;
    color: #FFFFFF;
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
    border-width: 0;
  }
}

@media screen and (min-width: 800px) {
  .footer-container {
    display: flex;
  }
  .footer-each {
    flex: 1;
  }
}
