<div id="footer" class="footer">
  <div class="footer-container">
    <div class="footer-each">
      <h1 class="footer-title">
        <i class="fab fa-twitter" aria-hidden="true"></i>
        フィードバック
      </h1>
      <p class="footer-description">
        しがないラジオでは、フィードバックをTwitterで募集しています。
      </p>
      <p class="footer-description">
        ハッシュタグ
        <a class="footer-link" href="https://twitter.com/search?q=%23%E3%81%97%E3%81%8C%E3%81%AA%E3%81%84%E3%83%A9%E3%82%B8%E3%82%AA">
          #しがないラジオ
        </a>
        まで、「感想」、「話して欲しい話題」、「改善して欲しいこと」など、お寄せください。
      </p>
      <div class="tweet">
        <span class="tw-button">
          <a href="https://twitter.com/shiganaiRadio"><i></i>Follow @shiganaiRadio</a>
        </span>
      </div>
    </div>
    <div class="footer-each">
      <h1 class="footer-title">
        <i class="fa fa-rss" aria-hidden="true"></i>
        RSSフィード
      </h1>
      <p class="footer-description">RSSの購読は、こちらからお願いします。</p>
        <ul class="footer-description-list">
          <li class="footer-description-item">
            <a class="footer-link" target="_blank" href="http://feeds.soundcloud.com/users/soundcloud:users:294673416/sounds.rss">
              RSSフィード購読
            </a>
          </li>
        </ul>
    </div>
    <div class="footer-each">
      <h1 class="footer-title">
        <i class="fa fa-sitemap" aria-hidden="true"></i>
        サイトマップ
      </h1>
      <ul class="footer-description-list">
        <li class="footer-description-item"><a href="{{ site.github.url }}"></a><span class="footer-link">ホーム</span></a></li>
        <li class="footer-description-item"><a href="{{ site.github.url }}/host"><span class="footer-link">パーソナリティ</span></a></li>
        <li class="footer-description-item"><a href="{{ site.github.url }}/guest"><span class="footer-link">ゲスト</span></a></li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright">
    <p>
      Copyright © 2019 by
      <a class="footer-link" href="https://twitter.com/zuckey_17">zuckey</a>,
      <a class="footer-link" href="https://twitter.com/jumpei_ikegami">gami</a>
      in Tokyo, Japan.
    </p>
  </div>
</div>
