<div class="form">
  <h1 class="form-title">
    <i class="fa fa-comment" aria-hidden="true"></i>
    フィードバックを送る
  </h1>
  <label class="form-tw-account">
    <p class="form-label">
      Twitterアカウント名:<br>
      <span class="form-at-mark">@</span><input class="form-tw-account-input" type="text" size="30" placeholder="よければ入力してください！">
    </p>
  </label>
  <label class="form-label feedback">
    <p class="form-label">
      質問・感想など:
    </p>
    <p>
      <textarea class="form-feedback-text" name="feedback" cols="30" rows="5" placeholder="気軽に投稿してください！"></textarea>
    </p>
  </label>
  <div class="form-button-container">
    <button class="form-submit">送信</button>
    <div class="form-message"></div>
  </div>
</div>