.ep-detail {
  background-color: #FAF3DD;
  color: #283044;
  border-radius: 10px;
  border: 0.5px solid #eeeeee;
  box-shadow: 2px 2px 1px 1px #eeeeee;

  &-container {
    position: relative;
    padding: 27px 27px 27px 27px;
  }

  &-pub-date {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    padding: 0.5em;
    width: 90px;
    text-align: center;
    background-color: #283044;
    color: #FFFFFF;
    font-size: .09rem;
    border-radius: 10px 0 0 0;
  }

  &-title {
    font-size: .24rem;
    color: #333333;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    border-bottom: medium solid #bbbbbb;
  }
}
